laintext
Django
requests
Django REST Framework
Django REST Framework SimpleJWT

# New requirements for music catalog management

Django REST Framework

# New requirements for song streaming

Django REST Framework

# New requirements for reporting APIs

Django REST Framework